.HomeSection{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),darkblue);
}

.HomeSection #SectionChanging{
    height: 90%;
    width: 10%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-right: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;
    anchor-name: --backgroundChange;
    position: relative;
    z-index: 4;
    
}

.HomeSection #Main_Navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    background-color: darkblue;
    padding: 2rem;
}

.target{
    background-color: rgba(128, 128, 128, 0.8);
    position: absolute;
    z-index: 3;
    position-anchor: var(--backgroundChange);
    top: anchor(--backgroundChange top);
    left: anchor(--backgroundChange left);
    right: anchor(--backgroundChange right);
    bottom: anchor(--backgroundChange bottom);
    transition: all linear 0.2s;
    pointer-events: none;
}

.HomeSection #SectionChanging .LINKS{
    text-decoration: none;
}

#Main_Navigation .One{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

#SectionChanging .LINKS:hover{
    anchor-name: --backgroundChange;
    padding: 2rem;
    cursor: pointer;
    scale: 1.2;
    transition: all linear 0.5s;
    color: aliceblue;
}

#SectionChanging:has(.LINKS:hover) .LINKS{
    transform: scale(0.9);
    transition: all linear 0.5s;
}

.One input{
    padding: 0.3rem;
    color: black;
    border-radius: 50px;
}

.One img{
    width: 2.5rem;
}

.One label{
    border: 2px solid white;
    padding: 0.2rem;
    border-radius: 50%;
}

@media (max-width: 767px){
    .HomeSection #SectionChanging{ 
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        border-top: 3px solid whitesmoke;
        border-bottom: none;
        border-right: none;
        bottom: 0;
    }

    .HomeSection #Main_Navigation{
        padding: 0.4rem;
    }

    .One{
        && i{
            display: none;
        }
    }

}

#UserInteraction{
    position: absolute;
    top:85px;
    right:0;
    left:0;
    bottom:0;
    background: linear-gradient(rgba(0, 0, 0, 0.5),darkblue);   
    margin-left: 152px;
}